// aside
.aside.fl
    ul.menu.list-unstyled
        li
            a.item.active(href='/temperatureId/Sensor1')
                span.glyphicon.glyphicon-fire
                | 					temperature & humidity
        li
            a.item.active(href='/gasQualityId/Sensor2')
                span.glyphicon.glyphicon-tree-deciduous
                |                   gas quality
        li
            a.item.active(href='/waterSensorId/Sensor3')
                span.glyphicon.glyphicon-tint
                |                   water flow rate
        li
            a.item.active(href='/robotsId/Robot1')
                span.glyphicon.glyphicon-wrench
                | 			  	    robot operation
    .cprt
        | Powered by
        a(href='https://6th-sense-technology.com/about-us.html' target='_blank')  6th Sense Project
// aside